body,
section,form,
header,ul,li,
input,button,img,h1,h2{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-size: 62.5%;
    font-family: sans-serif;
}
@mixin common-sections{
    max-width: 100em;
    margin: 0 auto;
}

section.hero{
    @include common-sections();
    background: url(http://placekitten.com/1000/600);
    background-size: cover;
    color: white;
    img {
        float: left;
        width: 120px;
        height: 50px;
        margin-left: 1em;
        margin-top: 1em;
        opacity: .3;
    }
    header ul{
        float: right;
        margin-right: 1em;
        margin-top: 1em;
        li{
            list-style: none;
            line-height: 2em;
            float: left;
            margin-left: 2em;
            border-radius: 4px;
            padding: 2px;
            opacity: .8;
        }
        li:hover{
            opacity: 1;
        }
        li:last-child{
            border: 1px solid white;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
    }
    h1,h2{
        clear: both;
        text-align: center;
        opacity: 0.8;
    }
    h1{
        font-size: 1.5em;
        padding-top: 4em;
    }
    h2{
        font-size: 1em;
        color: #ddd;
        padding-top: .5em;
    }
    form{
        text-align: center;
        padding-top: 1em;
        padding-bottom: 20em;
        input{
            width: 10em;
            height: 2em;
            background: rgba(255,255,255,.6);
            transition: all .25s;
            border-radius: 1em;
                        padding: 0 .5em;

        }
        input:focus{
            width: 20em;
        }
        input::-webkit-input-placeholder { 
            padding: 0 .5em;
            color: white;
            opacity: .6
        }
        button{
            background-color: gray;
            line-height: 1em;
            color: white;
            padding: 0.5em;
            height: 2em;
            border-radius: .5em;
            opacity: .6;
        }
        button:hover{
            opacity: 1;
        }
        
    }
}
section.numbers{
    @include common-sections();
    position: relative;
    top: -3em;
    ul{
        margin: 0 10%;
        li{
            list-style: none;
            display: block;
            float: left;
            width: 25%;
            background:  rgba(255,255,250,1);
            text-align: center;
            position: relative;
            border: 1px solid #ddd;
            border-right: 0px;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            h3{
                font-size:2em;
                font-family: monospace;
                font:bold;
            }
            h4{
                clear: both;
                color: #777;
            }
        }
    }
    :first-child li{
        border-bottom-left-radius: .5em;
        border-top-left-radius: .5em;
    }
    :last-child li{
        border-bottom-right-radius: .5em;
        border-top-right-radius: .5em;
        border-right: 1px solid #ddd;
    }
}
section.how-it-works{
    @include common-sections();

    ul{
        margin: 0 10%;
        li{
            list-style: none;
            text-align: center;
            display: block;
            float: left;
            width: 33.3%;
            box-sizing: border-box; 
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        @mixin common-bars{
            content: '';
            top: 100px;
            float: left;
            display: block;
            position: relative;
            top: 2em;
            height: 1px;
            background: #ccc;
        }
        li.middle:before{
            @include common-bars();
            float: left;
            width: 100%;
        }
        li.left:before{
            @include common-bars();
            float: right;
            width: 50%;
        }
        li.right:before{
            @include common-bars();
            float: left;
            width: 50%;
        }
        li cycle{
            background:  rgba(255,255,250,1);
            float: left;
            line-height: 4em;
            width: 4em;
            height: 4em;
            margin: 0 40%;
            text-align: center;
            position: relative;
            border-radius: 100%;
            border: 1px solid #ccc;
        }
    }
}