/* line 4, ../sass/style.scss */
html {
  background: #EEE;
  font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

/* line 8, ../sass/style.scss */
h1 {
  color: blue;
}

/* line 11, ../sass/style.scss */
ul li:hover {
  color: blue;
}
